---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dsshim/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4858'
      X-Ratelimit-Reset:
      - '1441946195'
      Last-Modified:
      - Thu, 10 Sep 2015 16:02:37 GMT
      Etag:
      - W/"b8b18d4700c138ad1a1a9ccddc860a1a"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/11370842/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c&page=2>;
        rel="next", <https://api.github.com/user/11370842/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3137038994","type":"PullRequestEvent","actor":{"id":11370842,"login":"dsshim","gravatar_id":"","url":"https://api.github.com/users/dsshim","avatar_url":"https://avatars.githubusercontent.com/u/11370842?"},"repo":{"id":42185012,"name":"dsshim/bithub","url":"https://api.github.com/repos/dsshim/bithub"},"payload":{"action":"opened","number":14,"pull_request":{"url":"https://api.github.com/repos/dsshim/bithub/pulls/14","id":44730023,"html_url":"https://github.com/dsshim/bithub/pull/14","diff_url":"https://github.com/dsshim/bithub/pull/14.diff","patch_url":"https://github.com/dsshim/bithub/pull/14.patch","issue_url":"https://api.github.com/repos/dsshim/bithub/issues/14","number":14,"state":"open","locked":false,"title":"pullreq
        functionality test","user":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"https://api.github.com/users/dsshim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsshim/subscriptions","organizations_url":"https://api.github.com/users/dsshim/orgs","repos_url":"https://api.github.com/users/dsshim/repos","events_url":"https://api.github.com/users/dsshim/events{/privacy}","received_events_url":"https://api.github.com/users/dsshim/received_events","type":"User","site_admin":false},"body":"","created_at":"2015-09-10T23:02:37Z","updated_at":"2015-09-10T23:02:37Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/dsshim/bithub/pulls/14/commits","review_comments_url":"https://api.github.com/repos/dsshim/bithub/pulls/14/comments","review_comment_url":"https://api.github.com/repos/dsshim/bithub/pulls/comments{/number}","comments_url":"https://api.github.com/repos/dsshim/bithub/issues/14/comments","statuses_url":"https://api.github.com/repos/dsshim/bithub/statuses/bc1fd250aea723dfcaa599ea94c2c79cae5a9445","head":{"label":"dsshim:pr_test","ref":"pr_test","sha":"bc1fd250aea723dfcaa599ea94c2c79cae5a9445","user":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"https://api.github.com/users/dsshim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsshim/subscriptions","organizations_url":"https://api.github.com/users/dsshim/orgs","repos_url":"https://api.github.com/users/dsshim/repos","events_url":"https://api.github.com/users/dsshim/events{/privacy}","received_events_url":"https://api.github.com/users/dsshim/received_events","type":"User","site_admin":false},"repo":{"id":42185012,"name":"bithub","full_name":"dsshim/bithub","owner":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"https://api.github.com/users/dsshim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsshim/subscriptions","organizations_url":"https://api.github.com/users/dsshim/orgs","repos_url":"https://api.github.com/users/dsshim/repos","events_url":"https://api.github.com/users/dsshim/events{/privacy}","received_events_url":"https://api.github.com/users/dsshim/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dsshim/bithub","description":"","fork":false,"url":"https://api.github.com/repos/dsshim/bithub","forks_url":"https://api.github.com/repos/dsshim/bithub/forks","keys_url":"https://api.github.com/repos/dsshim/bithub/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dsshim/bithub/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dsshim/bithub/teams","hooks_url":"https://api.github.com/repos/dsshim/bithub/hooks","issue_events_url":"https://api.github.com/repos/dsshim/bithub/issues/events{/number}","events_url":"https://api.github.com/repos/dsshim/bithub/events","assignees_url":"https://api.github.com/repos/dsshim/bithub/assignees{/user}","branches_url":"https://api.github.com/repos/dsshim/bithub/branches{/branch}","tags_url":"https://api.github.com/repos/dsshim/bithub/tags","blobs_url":"https://api.github.com/repos/dsshim/bithub/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dsshim/bithub/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dsshim/bithub/git/refs{/sha}","trees_url":"https://api.github.com/repos/dsshim/bithub/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dsshim/bithub/statuses/{sha}","languages_url":"https://api.github.com/repos/dsshim/bithub/languages","stargazers_url":"https://api.github.com/repos/dsshim/bithub/stargazers","contributors_url":"https://api.github.com/repos/dsshim/bithub/contributors","subscribers_url":"https://api.github.com/repos/dsshim/bithub/subscribers","subscription_url":"https://api.github.com/repos/dsshim/bithub/subscription","commits_url":"https://api.github.com/repos/dsshim/bithub/commits{/sha}","git_commits_url":"https://api.github.com/repos/dsshim/bithub/git/commits{/sha}","comments_url":"https://api.github.com/repos/dsshim/bithub/comments{/number}","issue_comment_url":"https://api.github.com/repos/dsshim/bithub/issues/comments{/number}","contents_url":"https://api.github.com/repos/dsshim/bithub/contents/{+path}","compare_url":"https://api.github.com/repos/dsshim/bithub/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dsshim/bithub/merges","archive_url":"https://api.github.com/repos/dsshim/bithub/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dsshim/bithub/downloads","issues_url":"https://api.github.com/repos/dsshim/bithub/issues{/number}","pulls_url":"https://api.github.com/repos/dsshim/bithub/pulls{/number}","milestones_url":"https://api.github.com/repos/dsshim/bithub/milestones{/number}","notifications_url":"https://api.github.com/repos/dsshim/bithub/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dsshim/bithub/labels{/name}","releases_url":"https://api.github.com/repos/dsshim/bithub/releases{/id}","created_at":"2015-09-09T14:50:55Z","updated_at":"2015-09-09T14:55:30Z","pushed_at":"2015-09-10T23:02:10Z","git_url":"git://github.com/dsshim/bithub.git","ssh_url":"git@github.com:dsshim/bithub.git","clone_url":"https://github.com/dsshim/bithub.git","svn_url":"https://github.com/dsshim/bithub","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":12,"forks":0,"open_issues":12,"watchers":0,"default_branch":"master"}},"base":{"label":"dsshim:master","ref":"master","sha":"a9feac9b5ec066ec04efb60098c40b4f79ec5137","user":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id[...]
