---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/test/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1441950852'
      Etag:
      - W/"31c277b045131adcd2eb3970dfae7cb9"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":12196274,"name":"HelloWorld","full_name":"test/HelloWorld","owner":{"login":"test","id":383316,"avatar_url":"https://avatars.githubusercontent.com/u/383316?v=3","gravatar_id":"","url":"https://api.github.com/users/test","html_url":"https://github.com/test","followers_url":"https://api.github.com/users/test/followers","following_url":"https://api.github.com/users/test/following{/other_user}","gists_url":"https://api.github.com/users/test/gists{/gist_id}","starred_url":"https://api.github.com/users/test/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/test/subscriptions","organizations_url":"https://api.github.com/users/test/orgs","repos_url":"https://api.github.com/users/test/repos","events_url":"https://api.github.com/users/test/events{/privacy}","received_events_url":"https://api.github.com/users/test/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/test/HelloWorld","description":"Create
        hello world","fork":false,"url":"https://api.github.com/repos/test/HelloWorld","forks_url":"https://api.github.com/repos/test/HelloWorld/forks","keys_url":"https://api.github.com/repos/test/HelloWorld/keys{/key_id}","collaborators_url":"https://api.github.com/repos/test/HelloWorld/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/test/HelloWorld/teams","hooks_url":"https://api.github.com/repos/test/HelloWorld/hooks","issue_events_url":"https://api.github.com/repos/test/HelloWorld/issues/events{/number}","events_url":"https://api.github.com/repos/test/HelloWorld/events","assignees_url":"https://api.github.com/repos/test/HelloWorld/assignees{/user}","branches_url":"https://api.github.com/repos/test/HelloWorld/branches{/branch}","tags_url":"https://api.github.com/repos/test/HelloWorld/tags","blobs_url":"https://api.github.com/repos/test/HelloWorld/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/test/HelloWorld/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/test/HelloWorld/git/refs{/sha}","trees_url":"https://api.github.com/repos/test/HelloWorld/git/trees{/sha}","statuses_url":"https://api.github.com/repos/test/HelloWorld/statuses/{sha}","languages_url":"https://api.github.com/repos/test/HelloWorld/languages","stargazers_url":"https://api.github.com/repos/test/HelloWorld/stargazers","contributors_url":"https://api.github.com/repos/test/HelloWorld/contributors","subscribers_url":"https://api.github.com/repos/test/HelloWorld/subscribers","subscription_url":"https://api.github.com/repos/test/HelloWorld/subscription","commits_url":"https://api.github.com/repos/test/HelloWorld/commits{/sha}","git_commits_url":"https://api.github.com/repos/test/HelloWorld/git/commits{/sha}","comments_url":"https://api.github.com/repos/test/HelloWorld/comments{/number}","issue_comment_url":"https://api.github.com/repos/test/HelloWorld/issues/comments{/number}","contents_url":"https://api.github.com/repos/test/HelloWorld/contents/{+path}","compare_url":"https://api.github.com/repos/test/HelloWorld/compare/{base}...{head}","merges_url":"https://api.github.com/repos/test/HelloWorld/merges","archive_url":"https://api.github.com/repos/test/HelloWorld/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/test/HelloWorld/downloads","issues_url":"https://api.github.com/repos/test/HelloWorld/issues{/number}","pulls_url":"https://api.github.com/repos/test/HelloWorld/pulls{/number}","milestones_url":"https://api.github.com/repos/test/HelloWorld/milestones{/number}","notifications_url":"https://api.github.com/repos/test/HelloWorld/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/test/HelloWorld/labels{/name}","releases_url":"https://api.github.com/repos/test/HelloWorld/releases{/id}","created_at":"2013-08-18T14:16:21Z","updated_at":"2014-07-05T07:34:22Z","pushed_at":"2013-08-18T14:42:31Z","git_url":"git://github.com/test/HelloWorld.git","ssh_url":"git@github.com:test/HelloWorld.git","clone_url":"https://github.com/test/HelloWorld.git","svn_url":"https://github.com/test/HelloWorld","homepage":null,"size":136,"stargazers_count":0,"watchers_count":0,"language":null,"has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":6,"mirror_url":null,"open_issues_count":1,"forks":6,"open_issues":1,"watchers":0,"default_branch":"master"},{"id":9872654,"name":"rokehan","full_name":"test/rokehan","owner":{"login":"test","id":383316,"avatar_url":"https://avatars.githubusercontent.com/u/383316?v=3","gravatar_id":"","url":"https://api.github.com/users/test","html_url":"https://github.com/test","followers_url":"https://api.github.com/users/test/followers","following_url":"https://api.github.com/users/test/following{/other_user}","gists_url":"https://api.github.com/users/test/gists{/gist_id}","starred_url":"https://api.github[...]
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=2334234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 2334234
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1441950852'
    body:
      encoding: UTF-8
      string: '{"message":"Bad credentials","documentation_url":"https://developer.github.com/v3"}'
  recorded_at: Fri, 11 Sep 2015 05:02:35 GMT
recorded_with: VCR 2.9.3
