---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1441924732'
      Etag:
      - W/"e5cf96591306be292a89e75ef2711da5"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jcasimir","id":43102,"avatar_url":"https://avatars.githubusercontent.com/u/43102?v=3","gravatar_id":"","url":"https://api.github.com/users/jcasimir","html_url":"https://github.com/jcasimir","followers_url":"https://api.github.com/users/jcasimir/followers","following_url":"https://api.github.com/users/jcasimir/following{/other_user}","gists_url":"https://api.github.com/users/jcasimir/gists{/gist_id}","starred_url":"https://api.github.com/users/jcasimir/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jcasimir/subscriptions","organizations_url":"https://api.github.com/users/jcasimir/orgs","repos_url":"https://api.github.com/users/jcasimir/repos","events_url":"https://api.github.com/users/jcasimir/events{/privacy}","received_events_url":"https://api.github.com/users/jcasimir/received_events","type":"User","site_admin":false},{"login":"stevekinney","id":251000,"avatar_url":"https://avatars.githubusercontent.com/u/251000?v=3","gravatar_id":"","url":"https://api.github.com/users/stevekinney","html_url":"https://github.com/stevekinney","followers_url":"https://api.github.com/users/stevekinney/followers","following_url":"https://api.github.com/users/stevekinney/following{/other_user}","gists_url":"https://api.github.com/users/stevekinney/gists{/gist_id}","starred_url":"https://api.github.com/users/stevekinney/star[...]
- request:
    method: get
    uri: https://api.github.com/users/jcasimir/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Thu, 10 Sep 2015 11:43:54 GMT
      Etag:
      - W/"5433b27bd7a7c2ca26db23288e10b5bc"
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/43102/events?page=2>; rel="next", <https://api.github.com/user/43102/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3136201065","type":"PushEvent","actor":{"id":43102,"login":"jcasimir","gravatar_id":"","url":"https://api.github.com/users/jcasimir","avatar_url":"https://avatars.githubusercontent.com/u/43102?"},"repo":{"id":2288534,"name":"turingschool/curriculum","url":"https://api.github.com/repos/turingschool/curriculum"},"payload":{"push_id":788138023,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"68e22b97969c78ff0a1fc15391af6b826233390a","before":"d8d7d24fe730d7771f6c03a43751c9670f828a0f","commits":[{"sha":"68e22b97969c78ff0a1fc15391af6b826233390a","author":{"email":"jeff@casimircreative.com","name":"Jeff
        Casimir"},"message":"Clarifying no arrays constraint","distinct":true,"url":"https://api.github.com/repos/turingschool/curriculum/commits/68e22b97969c78ff0a1fc15391af6b826233390a"}]},"public":true,"created_at":"2015-09-10T18:43:54Z","org":{"id":7934292,"login":"turingschool","gravatar_id":"","url":"https://api.github.com/orgs/turingschool","avatar_url":"https://avatars.githubusercontent.com/u/7934292?"}},{"id":"3136091403","type":"PushEvent","actor":{"id":43102,"login":"jcasimir","gravatar_id":"","url":"https://api.github.com/users/jcasimir","avatar_url":"https://avatars.githubusercontent.com/u/43102?"},"repo":{"id":2288534,"name":"turingschool/curriculum","url":"https://api.github.com/repos/turingschool/curriculum"},"payload":{"[...]
- request:
    method: get
    uri: https://api.github.com/users/stevekinney/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Sun, 30 Aug 2015 16:23:25 GMT
      [...]
- request:
    method: get
    uri: https://api.github.com/users/mikedao/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Thu, 10 Sep 2015 13:59:35 GMT
      Etag[...]
- request:
    method: get
    uri: https://api.github.com/users/tanmdoan/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1441924539'
      Etag:
      - '"b3eb526c54818e09ae4e165cb417f157"'
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Sep 2015 21:38:54 GMT
- request:
    method: get
    uri: https://api.github.com/users/mrjaimisra/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '54'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Tue, 08 Sep 2015 14:30:32 GMT
      Etag:
      - W/"9cfb7814325d0fd913123046506d4f85"
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/8093774/events?page=2>; rel="next", <https://api.github.com/user/8093774/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3128885200","type":"MemberEvent","actor":{"id":8093774,"login":"mrjaimisra","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","avatar_url":"https://avatars.githubusercontent.com/u/8093774?"},"repo":{"id":42134060,"name":"mrjaimisra/apicurious_scloud","url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud"},"payload":{"member":{"login":"novohispano","id":1654034,"avatar_url":"https://avatars.githubusercontent.com/u/1654034?v=3","gravatar_id":"","url":"https://api.github.com/users/novohispano","html_url":"https://github.com/novohispano","followers_url":"https://api.github.com/users/novohispano/followers","following_url":"https://api.github.com/users/novohispano/following{/other_user}","gists_url":"https://api.github.com/users/novohispano/gists{/gist_id}","starred_url":"https://api.github.com/users/novohispano/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/novohispano/subscriptions","organizations_url":"https://api.github.com/users/novohispano/orgs","repos_url":"https://api.github.com/users/novohispano/repos","events_url":"https://api.github.com/users/novohispano/events{/privacy}","received_events_url":"https://api.github.com/users/novohispano/received_events","type":"User","site_admin":false},"action":"added"},"public":true,"created_at":"2015-09-08T21:30:32Z"},{"id":"3128881271","type":"IssuesEvent","actor":{"id":8093774,"login":"mrjaimisra","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","avatar_url":"https://avatars.githubusercontent.com/u/8093774?"},"repo":{"id":42134060,"name":"mrjaimisra/apicurious_scloud","url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud/issues/11","labels_url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud/issues/11/labels{/name}","comments_url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud/issues/11/comments","events_url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud/issues/11/events","html_url":"https://github.com/mrjaimisra/apicurious_scloud/issues/11","id":105473008,"number":11,"title":"Collection
        - \"Following\"","user":{"login":"mrjaimisra","id":8093774,"avatar_url":"https://avatars.githubusercontent.com/u/8093774?v=3","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","html_url":"https://github.com/mrjaimisra","followers_url":"https://api.github.com/users/mrjaimisra/followers","following_url":"https://api.github.com/users/mrjaimisra/following{/other_user}","gists_url":"https://api.github.com/users/mrjaimisra/gists{/gist_id}","starred_url":"https://api.github.com/users/mrjaimisra/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mrjaimisra/subscriptions","organizations_url":"https://api.github.com/users/mrjaimisra/orgs","repos_url":"https://api.github.com/users/mrjaimisra/repos","events_url":"https://api.github.com/users/mrjaimisra/events{/privacy}","received_events_url":"https://api.github.com/users/mrjaimisra/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2015-09-08T21:29:19Z","updated_at":"2015-09-08T21:29:19Z","closed_at":null,"body":"As
        a signed in user, when I visit \"Collection\" and I click \"Following\", I
        should see a list of all the that users I follow, ordered from most (top)
        to least (bottom) recently followed."}},"public":true,"created_at":"2015-09-08T21:29:19Z"},{"id":"3128878996","type":"IssuesEvent","actor":{"id":8093774,"login":"mrjaimisra","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","avatar_url":"https://avatars.githubusercontent.com/u/8093774?"},"repo":[...]
- request:
    method: get
    uri: https://api.github.com/users/treyx/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '53'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Tue, 08 Sep 2015 09:08:11 GMT
      Etag:
[...]
- request:
    method: get
    uri: https://api.github.com/users/Jpease1020/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Thu, 10 Sep 2015 14:32:57 GMT
      Etag:
      - W/"c2267e7eb34889cf848ddffd872e3272"
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/10360311/events?page=2>; rel="next", <https://api.github.com/user/10360311/events?page=8>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3136789911","type":"CreateEvent","actor":{"id":10360311,"login":"Jpease1020","gravatar_id":"","url":"https://api.github.com/users/Jpease1020","avatar_url":"https://avatars.githubusercontent.com/u/10360311?"},"repo":{"id":42271816,"name":"Jpease1020/blogger","url":"https://api.github.com/repos/Jpease1020/blogger"},"payload":{"ref":"master","ref_type":"branch","master_branch":"master","description":"","pusher_type":"user"},"public":true,"created_at":"2015-09-10T21:32:57Z"},{"id":"3136788101","type":"CreateEvent","actor":{"id":10360311,"login":"Jpease1020","gravatar_id":"","url":"https://api.github.com/users/Jpease1020","avatar_url":"https://avatars.githubusercontent.com/u/10360311?"},"repo":{"id":42271816,"name":"Jpease1020/blogger","url":"https://api.github.com/repos/Jpease1020/blogger"},"payload":{"ref":null,"ref_type":"repository","master_branch":"master","description":"","pusher_type":"user"},"public":true,"created_at":"2015-09-10T21:32:22Z"},{"id":"3125516582","type":"PullRequestEvent","actor":{"id":10360311,"login":"Jpease1020","gravatar_id":"","url":"https://api.github.com/users/Jpease1020","avatar_url":"https://avatars.githubusercontent.com/u/10360311?"},"repo":{"id":41693220,"name":"Jpease1020/traffic-spy","url":"https://api.github.com/repos/Jpease1020/traffic-spy"},"payload":{"action":"opened","number":76,"pull_request":{"url":"https://api.github.com/repos/Jpease1020/traffic-spy/pulls/76","id":44384029,"html_url":"https://github.com/Jpease1020/traffic-spy/pull/76","diff_url":"https://github.com/Jpease1020/traffic-spy/pull/76.diff","patch_url":"https://github.com/Jpease1020/traffic-spy/pull/76.patch","issue_url":"https://api.github.com/repos/Jpease1020/traffic-spy/issues/76","number":76,"state":"open","locked":false,"title":"formats
        event name","user":{"login":"Jpease1020","id":10360311,"avatar_url":"https://avatars.githubusercontent.com/u/10360311?v=3","gravatar_id":"","url":"https://api.github.com/users/Jpease1020","html_url":"https://github.com/Jpease1020","followers_url":"https://api.github.com/users/Jpease1020/followers","following_url":"https://api.github.com/users/Jpease1020/following{/other_user}","gists_url":"https://api.github.com/users/Jpease1020/gists{/gist_id}","starred_url":"https://api.github.com/users/Jpease1020/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Jpease1020/subscriptions","organizations_url":"https://api.github.com/users/Jpease1020/orgs","repos_url":"https://api.github.com/users/Jpease1020/repos","events_url":"https://api.github.com/users/Jpease1020/events{/privacy}","received_events_url":"https://api.github.com/users/Jpease1020/received_events","type":"User","site_admin":false},"body":"","created_at":"2015-09-08T00:19:44Z","updated_at":"2015-09-08T00:19:44Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/Jpease1020/traffic-spy/pulls/76/commits","review_comments_url":"https://api.github.com/repos/Jpease1020/traffic-spy/pulls/76/comments","review_comment_url":"https://api.github.com/repos/Jpease1020/traffic-spy/pulls/comments{/number}","comments_url":"https://api.github.com/repos/Jpease1020/traffic-spy/issues/76/comments","statuses_url":"https://api.github.com/repos/Jpease1020/traffic-spy/statuses/f422548ea4c9ea34c55731fb3ec4e4c96789493c","head":{"label":"Jpease1020:modify-event-name","ref":"modify-event-name","sha":"f422548ea4c9ea34c55731fb3ec4e4c96789493c","user":{"login":"Jpease1020","id":10360311,"avatar_url":"https://avatars.githubusercontent.com/u/10360311?v=3","gravatar_id":"","url":"https://api.github.com/users/Jpease1020","html_url":"https://github.com/Jpease1020","followers_url":"https://api.github.com/users/Jpease1020/followers","following_url":"https://api.github.com/users/Jpease1020/following{/other_user}","gists_url":"https://api.github.com/users/Jpease1020/gists{/gist_id}","starred_url":"https://api.github.com/users/Jpease1020/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Jpease1020/subscriptions","organizations_url":"https://api.github.com/users/Jpease1020/orgs","repos_url":"https://api.github.com/users/Jpease1020/repos","events_url":"https://api.github.com/users/Jpease1020/events{/privacy}","received_events_url":"https://api.github.com/users/Jpease1020/received_events","type":"User","site_admin":false},"repo":{"id":41693220,"name":"traffic-spy","full_name":"Jpease1020/traffic-spy","owner":{"login":"Jpease1020","id":10360311,"avatar_url":"https://avatars.githubusercontent.com/u/10360311?v=3","gravatar_id":"","url":"https://api.github.com/users/Jpease1020","html_url":"https://github.com/Jpease1020","followers_url":"https://api.github.com/users/Jpease1020/followers","following_url":"https://api.github.com/users/Jpease1020/following{/other_user}","gists_url":"https://api.github.com/users/Jpease1020/gists{/gist_id}","starred_url":"https://api.github.com/users/Jpease1020/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Jpease1020/subscriptions","organizations_url":"https://api.github.com/users/Jpease1020/orgs","repos_url":"https://api.github.com/users/Jpease1020/repos","events_url":"https://api.github.com/users/Jpease1020/events{/privacy}","received_events_url":"https://api.github.com/users/Jpease1020/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/Jpease1020/traffic-spy","description":null,"fork":true,"url":"https://api.github.com/repos/Jpease1020/traffic-spy","forks_url":"https://api.github.com/repos/Jpease1020/traffic-spy/forks","keys_url":"https://api.github.com/repos/Jpease1020/traffic-spy/keys{/key_id}","collaborators_url":"https://api.github.com/repos/Jpease1020/traffic-spy/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/Jpease1020/traffic-spy/teams","hooks_url":"https://api.github.com/repos/Jpease1020/traffic-spy/hooks","issue_events_url":"https://api.github.com/repos/Jpease1020/traffic-spy/issues/events{/number}","events_url":"https://api.github.com/repos/Jpease1020/traffic-spy/events","assignees_url":"https://api.github.com/repos/Jpease1020/traffic-spy/assignees{/user}","branches_url":"https://api.github.com/repos/Jpease1020/traffic-spy/branches{/branch}","tags_url":"https://api.github.com/repos/Jpease1020/traffic-spy/tags","blobs_url":"https://api.github.com/repos/Jpease1020/traffic-spy/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/Jpease1020/traffic-spy/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/Jpease1020/traffic-spy/git/refs{/sha}","trees_url":"https://api.github.com/repos/Jpease1020/traffic-spy/git/trees{/sha}","statuses_url":"https://api.github.com/repos/Jpease1020/traffic-spy/statuses/{sha}","languages_url":"https://api.github.com/repos/Jpease1020/traffic-spy/languages","stargazers_url":"https://api.github.com/repos/Jpease1020/traffic-spy/stargazers","contributors_url":"https://api.github.com/repos/Jpease1020/traffic-spy/contributors","subscribers_url":"https://api.github.com/repos/Jpease1020/traffic-spy/subscribers","subscription_url":"https://api.github.com/repos/Jpease1020/traffic-spy/subscription","commits_url":"https://api.github.com/repos/Jpease1020/traffic-spy/commits{/sha}","git_commits_url":"https://api.github.com/repos/Jpease1020/traffic-spy/git/commits{/sha}","comments_url":"https://api.github.com/repos/Jpease1020/traffic-spy/comments{/number}","issue_comment_url":"https://api.github.com/repos/Jpease1020/traffic-spy/issues/comments{/number}","contents_url":"https://api.github.com/repos/Jpease1020/traffic-spy/contents/{+path}","compare_url":"https://api.github.com/repos/Jpease1020/traffic-spy/compare/{base}...{head}","merges_url":"https://api.github.com/repos/Jpease1020/traffic-spy/merges","archive_url":"https://api.github.com/repos/Jpease1020/traffic-spy/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/Jpease1020/traffic-spy/downloads","issues_url":"https://api.github.com/repos/Jpease1020/traffic-spy/issues{/number}","pulls_url":"https://api.github.com/repos/Jpease1020/traffic-spy/pulls{/number}","milestones_url":"https://api.github.com/repos/Jpease1020/traffic-spy/milestones{/number}","notifications_url":"https://api.github.com/repos/Jpease1020/traffic-spy/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/Jpease1020/traffic-spy/labels{/name}","releases_url":"https://api.github.com/repos/Jpease1020/traffic-spy/releases{/id}","created_at":"2015-08-31T18:32:43Z","updated_at":"2015-08-31T22:59:18Z","pushed_at":"2015-09-08T00:18:50Z","git_url":"git://github.com/Jpease1020/traffic-spy.git","ssh_url":"git@github.com:Jpease1020/traffic-spy.git","clone_url":"https://github.com/Jpease1020/traffic-spy.git","svn_url":"https://github.com/Jpease1020/traffic-spy","homepage":null,"size":722,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":3,"forks":0,"open_issues":3,"watchers":0,"default_branch":"master"}},"base":{"label":"Jpease1020:master","ref":"master","sha":"57b498b4b67fefba06b7009af798b3eb33e83297","user":{"login":"Jpease1020","id":10360311,"avatar_url":"https://avatars.githubusercontent.com/u/10360311?v=3","gravatar_id":"","url":"https://api.github.com/users/Jpease1020","html_url":"https://github.com/Jpease1020","followers_url":"https://api.github.com/users/Jpease1020/followers","following_url":"https://api.github.com/users/Jpease1020/following{/other_user}","gists_url":"https://api.github.com/use[...]
- request:
    method: get
    uri: https://api.github.com/users/applegrain/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Thu, 10 Sep 2015 14:37:57 GMT
      E[...]
- request:
    method: get
    uri: https://api.github.com/users/mitchashby16/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '50'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Thu, 10 Sep 2015 14:21:32 GMT
     [...]
- request:
    method: get
    uri: https://api.github.com/users/MaxMillington/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '49'
      X-Ratelimit-Reset:
      - '1441924539'
      Last-Modified:
      - Thu, 10 Sep 2015 12:47:04 GMT
    [...]
