---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dsshim/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1441924539'
      Etag:
      - W/"8f07b8df51cc2ed2701e2a892c025d21"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":39031892,"name":"active-record-sinatra","full_name":"dsshim/active-record-sinatra","owner":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"https://api.github.com/users/dsshim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsshim/subscriptions","organizations_url":"https://api.github.com/users/dsshim/orgs","repos_url":"https://api.github.com/users/dsshim/repos","events_url":"https://api.github.com/users/dsshim/events{/privacy}","received_events_url":"https://api.github.com/users/dsshim/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dsshim/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/dsshim/active-record-sinatra","forks_url":"https://api.github.com/repos/dsshim/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/dsshim/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dsshim/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dsshim/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/dsshim/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/dsshim/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/dsshim/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/dsshim/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/dsshim/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dsshim/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/dsshim/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/dsshim/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/dsshim/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/dsshim/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/dsshim/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/dsshim/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/dsshim/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/dsshim/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/dsshim/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dsshim/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/dsshim/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dsshim/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/dsshim/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/dsshim/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/dsshim/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dsshim/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/dsshim/active-record-sinatra/releases{/id}","created_at":"2015-07-13T19:09:54Z","updated_at":"2015-07-13T19:09:54Z","pushed_at":"2015-07-13T18:29:43Z","git_url":"git://github.com/dsshim/active-record-sinatra.git","ssh_url":"git@github.com:dsshim/active-record-sinatra.git","clone_url":"https://github.com/dsshim/active-record-sinatra.git","svn_url":"https://github.com/dsshim/active-record-sinatra","homepage":null,"size":61,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":42185012,"name":"bithub","full_name":"dsshim/bithub","owner":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"h[...]
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1441924732'
      Etag:
      - W/"3e40321472d07a194a3a087f098b9377"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":41322219,"name":"the_pivot","full_name":"imwithsam/the_pivot","owner":{"login":"imwithsam","id":1934074,"avatar_url":"https://avatars.githubusercontent.com/u/1934074?v=3","gravatar_id":"","url":"https://api.github.com/users/imwithsam","html_url":"https://github.com/imwithsam","followers_url":"https://api.github.com/users/imwithsam/followers","followin[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
  [...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
  [...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/dsshim/orgs?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1441924732'
      Etag:
      - '"685a79b0967100c613e941bd92485930"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 10 Sep 2015 22:01:12 GMT
[...]
- request:
    method: get
    uri: https://github.com/users/dsshim/contributions
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
      Public-Key-Pins:
      - max-age=300; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        includeSubDomains
    body:
      encoding: ASCII-8BIT
      string: |
        <svg width="721" height="110" class="js-calendar-graph-svg">
          <g transform="translate(20, 20)">
              <g transform="translate(0, 0)">
                  <rect class="day" width="11" height="11" y="39" fill="#eeeeee" data-count="0" data-date="2014-09-10"/>
                  <rect class="day" width="11" height="11" y="52" fill="#eeeeee" data-count="0" data-date="2014-09-11"/>
                  <rect class="day" width="11" height="11" y="65" fill="#eeeeee" data-count="0" data-date="2014-09-12"/>
                  <rect class="day" width="11" height="11" y="78" fill="#eeeeee" data-count="0" data-date="2014-09-13"/>
              </g>
              <g tran[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/dsshim/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4990'
      X-Ratelimit-Reset:
      - '1441924732'
      Last-Modified:
      - Thu, 10 Sep 2015 12:19:20 GMT
      Etag:
      - W/"a532530f56773217f9d001f562058759"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/11370842/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c&page=2>;
        rel="next", <https://api.github.com/user/11370842/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3136323231","type":"PushEvent","actor":{"id":11370842,"login":"dsshim","gravatar_id":"","url":"https://api.github.com/users/dsshim","avatar_url":"https://avatars.githubusercontent.com/u/11370842?"},"repo":{"id":42185012,"name":"dsshim/bithub","url":"https://api.github.com/repos/dsshim/bithub"},"payload":{"push_id":788183307,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"dd68eb9496a5d2c1ab09f528d012ae9d2b397b54","before":"10992a1f296b08e0306d77aa0fd602a0612c4fe0","commits":[{"sha":"dd68eb9496a5d2c1ab09f528d012ae9d2b397b54","author":{"email":"daveshim@gmail.com","name":"dsshim"},"message":"adds
        homepage/navbar styling","distinct":true,"url":"https://api.github.com/repos/dsshim/bithub/commits/dd68eb9496a5d2c1ab09f528d012ae9d2b397b54"}]},"public":true,"created_at":"2015-09-10T19:19:20Z"},{"id":"3136157878","type":"PushEvent","actor":{"id":11370842,"login":"dsshim","gravatar_id":"","url":"https://api.github.com/users/dsshim","avatar_url":"https://avatars.githubusercontent.com/u/11370842?"},"repo":{"id":42185012,"name":"dsshim/bithub","url":"https://api.github.com/repos/dsshim/bithub"},"payload":{"push_id":788122181,"size":2,"distinct_size":2,"ref":"refs/heads/master","head":"10992a1f296b08e0306d77aa0fd602a0612c4fe0","before":"ee6b229f4894969f70ebd17d9451d1b6ff15678b","commits":[{"sha":"9bbd1011fe22f849379329e0871e8b416ffd78fd","author":{"email":"daveshim@gmail.com","name":"dsshim"},"message":"adds
        repo, issues, pr, and other git stats","distinct":true,"url":"https://api.github.com/repos/dsshim/bithub/commits/9bbd1011fe22f849379329e0871e8b416ffd78fd"},{"sha":"10992a1f296b08e0306d77aa0fd602a0612c4fe0","author":{"email":"daveshim@gmail.com","name":"dsshim"},"message":"adds
        styling and vcr for testing","distinct":true,"url":"https://api.github.com/repos/dsshim/bithub/commits/10992a1f296b08e0306d77aa0fd602a0612c4fe0"}]},"public":true,"created_at":"2015-09-10T18:31:56Z"},{"id":"3132901599","type":"WatchEvent","actor":{"id":11370842,"login":"dsshim","gravatar_id":"","url":"https://api.github.com/users/dsshim","avatar_url":"https://avatars.githubusercontent.com/u/11370842?"},"repo":{"id":41322219,"name":"imwithsam/the_pivot","url":"https://api.github.com/repos/imwithsam/the_pivot"},"payload":{"action":"started"},"public":true,"created_at":"2015-09-09T21:39:53Z"},{"id":"3132449477","type":"PushEvent","actor":{"id":11370842,"login":"dsshim","gravatar_id":"","url":"https://api.github.com/users/dsshim","avatar_url":"https://avatars.githubusercontent.com/u/11370842?"},"repo":{"id":42185012,"name":"dsshim/bithub","url":"https://api.github.com/repos/dsshim/bithub"},"payload":{"push_id":786680395,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"ee6b229f4894969f70ebd17d9451d1b6ff15678b","b[...]
[...]
