---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4999'
      X-Ratelimit-Reset:
      - '1441921118'
      Etag:
      - W/"b89d3414cb1e2858db83d842398bebef"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"mitchashby16","id":10623771,"avatar_url":"https://avatars.githubusercontent.com/u/10623771?v=3","gravatar_id":"","url":"https://api.github.com/users/mitchashby16","html_url":"https://github.com/mitchashby16","followers_url":"https://api.github.com/users/mitchashby16/followers","following_url":"https://api.github.com/users/mitchashby16/following{/other_user}","gists_url":"https://api.github.com/users/mitchashby16/gists{/gist_id}","starred_url":"https://api.github.com/users/mitchashby16/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mitchashby16/subscriptions","organizations_url":"https://api.github.com/users/mitchashby16/orgs","repos_url":"https://api.github.com/users/mitchashby16/repos","events_url":"https://api.github.com/users/mitchashby16/events{/privacy}","received_events_url":"https://api.github.com/users/mitchashby16/received_events","type":"User","site_admin":false},{"login":"mrjaimisra","id":8093774,"avatar_url":"https://avatars.githubusercontent.com/u/8093774?v=3","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","html_url":"https://github.com/mrjaimisra","followers_url":"https://api.github.com/users/mrjaimisra/followers","following_url":"https://api.github.com/users/mrjaimisra/following{/other_user}","gists_url":"https://api.github.com/users/mrjaimisra/gists{/gist_id}","starred_url":"https://api.github.com/users/mrjaimisra/starred{/[...]
