---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4852'
      X-Ratelimit-Reset:
      - '1441946195'
      Etag:
      - W/"e5cf96591306be292a89e75ef2711da5"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jcasimir","id":43102,"avatar_url":"https://avatars.githubusercontent.com/u/43102?v=3","gravatar_id":"","url":"https://api.github.com/users/jcasimir","html_url":"https://github.com/jcasimir","followers_url":"https://api.github.com/users/jcasimir/followers","following_url":"https://api.github.com/users/jcasimir/following{/other_user}","gists_url":"https://api.github.com/users/jcasimir/gists{/gist_id}","starred_url":"https://api.github.com/users/jcasimir/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jcasimir/subscriptions","organizations_url":"https://api.github.com/users/jcasimir/orgs","repos_url":"https://api.github.com/users/jcasimir/repos","events_url":"https://api.github.com/users/jcasimir/events{/privacy}","received_events_url":"https://api.github.com/users/jcasimir/received_events","type":"User","site_admin":false},{"login":"stevekinney","id":251000,"avatar_url":"https://avatars.githubusercontent.com/u/251000?v=3","gravatar_id":"","url":"https://api.github.com/users/stevekinney","html_url":"https://github.com/stevekinney","followers_url":"https://api.github.com/users/stevekinney/followers","following_url":"https://api.github.com/users/stevekinney/following{/other_user}","gists_url":"https://api.github.com/users/stevekinney/gists{/gist_id}","starred_url":"https://api.github.com/users/stevekinney/star[...]
