---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dsshim/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '48'
      X-Ratelimit-Reset:
      - '1441949744'
      Etag:
      - W/"ac13dc873dd0379b78432ccb67b2368b"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":39031892,"name":"active-record-sinatra","full_name":"dsshim/active-record-sinatra","owner":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"https://api.github.com/users/dsshim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsshim/subscriptions","organizations_url":"https://api.github.com/users/dsshim/orgs","repos_url":"https://api.github.com/users/dsshim/repos","events_url":"https://api.github.com/users/dsshim/events{/privacy}","received_events_url":"https://api.github.com/users/dsshim/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dsshim/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/dsshim/active-record-sinatra","forks_url":"https://api.github.com/repos/dsshim/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/dsshim/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dsshim/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dsshim/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/dsshim/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/dsshim/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/dsshim/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/dsshim/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/dsshim/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dsshim/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/dsshim/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/dsshim/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/dsshim/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/dsshim/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/dsshim/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/dsshim/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/dsshim/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/dsshim/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/dsshim/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dsshim/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/dsshim/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dsshim/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/dsshim/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/dsshim/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/dsshim/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dsshim/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/dsshim/active-record-sinatra/releases{/id}","created_at":"2015-07-13T19:09:54Z","updated_at":"2015-07-13T19:09:54Z","pushed_at":"2015-07-13T18:29:43Z","git_url":"git://github.com/dsshim/active-record-sinatra.git","ssh_url":"git@github.com:dsshim/active-record-sinatra.git","clone_url":"https://github.com/dsshim/active-record-sinatra.git","svn_url":"https://github.com/dsshim/active-record-sinatra","homepage":null,"size":61,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":42185012,"name":"bithub","full_name":"dsshim/bithub","owner":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"h[...]
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4850'
      X-Ratelimit-Reset:
      - '1441946195'
      Etag:
      - W/"3e40321472d07a194a3a087f098b9377"
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":41322219,"name":"the_pivot","full_name":"imwithsam/the_pivot","owner":{"login":"imwithsam","id":1934074,"avatar_url":"https://avatars.githubusercontent.com/u/1934074?v=3","gravatar_id":"","url":"https://api.github.com/users/imwithsam","html_url":"https://github.com/imwithsam","followers_url":"https://api.github.com/users/imwithsam/followers","followin[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
  [...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
  [...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/dsshim/orgs?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4844'
      X-Ratelimit-Reset:
      - '1441946195'
      Etag:
      - '"685a79b0967100c613e941bd92485930"'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - admin:org, read:org, repo, user, write:org
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 11 Sep 2015 04:36:14 GMT
- request:
    method: get
    uri: https://github.com/users/dsshim/contributions
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
      Public-Key-Pins:
      - max-age=300; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        includeSubDomains
    body:
      encoding: ASCII-8BIT
      string: |
        <svg width="721" height="110" class="js-calendar-graph-svg">
          <g transform="translate(20, 20)">
              <g transform="translate(0, 0)">
                  <rect class="day" width="11" height="11" y="39" fill="#eeeeee" data-count="0" data-date="2014-09-10"/>
                  <rect class="day" width="11" height="11" y="52" fill="#eeeeee" data-count="0" data-date="2014-09-11"/>
                  <rect class="day" width="11" height="11" y="65" fill="#eeeeee" data-count="0" data-date="2014-09-12"/>
                  <rect class="day" width="11" height="11" y="78" fill="#eeeeee" data-count="0" data-date="2014-09-13"/>
              </g>
              <g tran[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/dsshim/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token c0ea48badc5e558883dcbfb788b92417d4f8170c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4843'
      X-Ratelimit-Reset:
      - '1441946195'
      Last-Modified:
      - Thu, 10 Sep 2015 16:02:37 GMT
      Etag:
      - W/"b8b18d4700c138ad1a1a9ccddc860a1a"
      X-Poll-Interval:
      - '60'
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 12566c1251cad1db89b5
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/11370842/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c&page=2>;
        rel="next", <https://api.github.com/user/11370842/events?access_token=c0ea48badc5e558883dcbfb788b92417d4f8170c&page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3137038994","type":"PullRequestEvent","actor":{"id":11370842,"login":"dsshim","gravatar_id":"","url":"https://api.github.com/users/dsshim","avatar_url":"https://avatars.githubusercontent.com/u/11370842?"},"repo":{"id":42185012,"name":"dsshim/bithub","url":"https://api.github.com/repos/dsshim/bithub"},"payload":{"action":"opened","number":14,"pull_request":{"url":"https://api.github.com/repos/dsshim/bithub/pulls/14","id":44730023,"html_url":"https://github.com/dsshim/bithub/pull/14","diff_url":"https://github.com/dsshim/bithub/pull/14.diff","patch_url":"https://github.com/dsshim/bithub/pull/14.patch","issue_url":"https://api.github.com/repos/dsshim/bithub/issues/14","number":14,"state":"open","locked":false,"title":"pullreq
        functionality test","user":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"https://api.github.com/users/dsshim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsshim/subscriptions","organizations_url":"https://api.github.com/users/dsshim/orgs","repos_url":"https://api.github.com/users/dsshim/repos","events_url":"https://api.github.com/users/dsshim/events{/privacy}","received_events_url":"https://api.github.com/users/dsshim/received_events","type":"User","site_admin":false},"body":"","created_at":"2015-09-10T23:02:37Z","updated_at":"2015-09-10T23:02:37Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/dsshim/bithub/pulls/14/commits","review_comments_url":"https://api.github.com/repos/dsshim/bithub/pulls/14/comments","review_comment_url":"https://api.github.com/repos/dsshim/bithub/pulls/comments{/number}","comments_url":"https://api.github.com/repos/dsshim/bithub/issues/14/comments","statuses_url":"https://api.github.com/repos/dsshim/bithub/statuses/bc1fd250aea723dfcaa599ea94c2c79cae5a9445","head":{"label":"dsshim:pr_test","ref":"pr_test","sha":"bc1fd250aea723dfcaa599ea94c2c79cae5a9445","user":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"https://api.github.com/users[...]
[...]
- request:
    method: get
    uri: https://api.github.com/users/jcasimir/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '47'
      X-Ratelimit-Reset:
      - '1441949744'
      Last-Modified:
      - Thu, 10 Sep 2015 11:43:54 GMT
      Etag:
      - W/"5433b27bd7a7c2ca26db23288e10b5bc"
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/43102/events?page=2>; rel="next", <https://api.github.com/user/43102/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3136201065","type":"PushEvent","actor":{"id":43102,"login":"jcasimir","gravatar_id":"","url":"https://api.github.com/users/jcasimir","avatar_url":"https://avatars.githubusercontent.com/u/43102?"},"repo":{"id":2288534,"name":"turingschool/curriculum","url":"https://api.github.com/repos/turingschool/curriculum"},"payload":{"push_id":788138023,"size":1,"distinct_size":1,"ref":"refs/heads/master","head":"68e22b97969c78ff0a1fc15391af6b826233390a","before":"d8d7d24fe730d7771f6c03a43751c9670f828a0f","commits":[{"sha":"68e22b97969c78ff0a1fc15391af6b826233390a","author":{"email":"jeff@casimircreative.com","name":"Jeff
        Casimir"},"message":"Clarifying no arrays constraint","distinct":true,"url":"https://api.github.com/repos/turingschool/curriculum/commits/68e22b97969c78ff0a1fc15391af6b826233390a"}]},"public":true,"created_at":"2015-09-10T18:43:54Z","org":{"id":7934292,"login":"turingschool","gravatar_id":"","url":"https://api.github.com/orgs/turingschool","avatar_url":"https://avatars.githubusercontent.com/u/7934292?"}},{"id":"3136091403","type":"PushEvent","actor":{"id":43102,"login":"jcasimir","gravatar_id":"","url":"https://api.github.com/users/jcasimir","avatar_url":"https://avatars.githubusercontent.com/u/43102?"},"repo":{"id":2288534,"name":"turingschool/curriculum","url":"https://api.github.com/repos/turingschool/curriculum"},"payload":{"[...]
- request:
    method: get
    uri: https://api.github.com/users/stevekinney/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '46'
      X-Ratelimit-Reset:
      - '1441949744'
      Last-Modified:
      - Sun, 30 Aug 2015 16:23:25 GMT
      [...]
- request:
    method: get
    uri: https://api.github.com/users/mikedao/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '45'
      X-Ratelimit-Reset:
      - '1441949744'
      Last-Modified:
      - Thu, 10 Sep 2015 13:59:35 GMT
      Etag[...]
- request:
    method: get
    uri: https://api.github.com/users/tanmdoan/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '44'
      X-Ratelimit-Reset:
      - '1441949744'
      Etag:
      - '"b3eb526c54818e09ae4e165cb417f157"'
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 11 Sep 2015 04:36:27 GMT
- request:
    method: get
    uri: https://api.github.com/users/mrjaimisra/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '43'
      X-Ratelimit-Reset:
      - '1441949744'
      Last-Modified:
      - Tue, 08 Sep 2015 14:30:32 GMT
      Etag:
      - W/"9cfb7814325d0fd913123046506d4f85"
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/8093774/events?page=2>; rel="next", <https://api.github.com/user/8093774/events?page=10>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3128885200","type":"MemberEvent","actor":{"id":8093774,"login":"mrjaimisra","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","avatar_url":"https://avatars.githubusercontent.com/u/8093774?"},"repo":{"id":42134060,"name":"mrjaimisra/apicurious_scloud","url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud"},"payload":{"member":{"login":"novohispano","id":1654034,"avatar_url":"https://avatars.githubusercontent.com/u/1654034?v=3","gravatar_id":"","url":"https://api.github.com/users/novohispano","html_url":"https://github.com/novohispano","followers_url":"https://api.github.com/users/novohispano/followers","following_url":"https://api.github.com/users/novohispano/following{/other_user}","gists_url":"https://api.github.com/users/novohispano/gists{/gist_id}","starred_url":"https://api.github.com/users/novohispano/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/novohispano/subscriptions","organizations_url":"https://api.github.com/users/novohispano/orgs","repos_url":"https://api.github.com/users/novohispano/repos","events_url":"https://api.github.com/users/novohispano/events{/privacy}","received_events_url":"https://api.github.com/users/novohispano/received_events","type":"User","site_admin":false},"action":"added"},"public":true,"created_at":"2015-09-08T21:30:32Z"},{"id":"3128881271","type":"IssuesEvent","actor":{"id":8093774,"login":"mrjaimisra","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","avatar_url":"https://avatars.githubusercontent.com/u/8093774?"},"repo":{"id":42134060,"name":"mrjaimisra/apicurious_scloud","url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud/issues/11","labels_url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud/issues/11/labels{/name}","comments_url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud/issues/11/comments","events_url":"https://api.github.com/repos/mrjaimisra/apicurious_scloud/issues/11/events","html_url":"https://github.com/mrjaimisra/apicurious_scloud/issues/11","id":105473008,"number":11,"title":"Collection
        - \"Following\"","user":{"login":"mrjaimisra","id":8093774,"avatar_url":"https://avatars.githubusercontent.com/u/8093774?v=3","gravatar_id":"","url":"https://api.github.com/users/mrjaimisra","html_url":"https://github.com/mrjaimisra","followers_url":"https://api.github.com/users/mrjaimisra/followers","following_url":"https://api.github.com/users/mrjaimisra/following{/other_user}","gists_url":"https://api.github.com/users/mrjaimisra/gists{/gist_id}","starred_url":"https://api.github.com/users/mrjaimisra/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mrjaimisra/subscriptions","organizations_url":"https://api.github.com/users/mrjaimisra/orgs","repos_url":"https://api.github.com/users/mrjaimisra/repos","events_url":"https://api.github.com/users/mrjaimisra/events{/privacy}","received_events_url":"https://api.github.com/users/mrjaimisra/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2015-09-08T21:29:19Z","updated_at":"2015-09-08T21:29:19Z","closed_at":null,"body":"As
        a signed in user, when I visit \"Collection\" and I click \"Following\", I
        should see a list of all the that users I follow, ordered from most (top)
        to least (bottom) recently followed."}},"public":true,"created_at":"2015-09-08T21:29:19Z"},{"id":"3128878996","type":"IssuesEvent","actor":{"id":8093774,"login":"mrjaimisra","gravatar_id":"","url":"https://api.github.com/user[...]
