---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/dsshim/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '11'
      X-Ratelimit-Reset:
      - '1441918677'
      Etag:
      - W/"8f07b8df51cc2ed2701e2a892c025d21"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":39031892,"name":"active-record-sinatra","full_name":"dsshim/active-record-sinatra","owner":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"https://api.github.com/users/dsshim/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/dsshim/subscriptions","organizations_url":"https://api.github.com/users/dsshim/orgs","repos_url":"https://api.github.com/users/dsshim/repos","events_url":"https://api.github.com/users/dsshim/events{/privacy}","received_events_url":"https://api.github.com/users/dsshim/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/dsshim/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/dsshim/active-record-sinatra","forks_url":"https://api.github.com/repos/dsshim/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/dsshim/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/dsshim/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/dsshim/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/dsshim/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/dsshim/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/dsshim/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/dsshim/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/dsshim/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/dsshim/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/dsshim/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/dsshim/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/dsshim/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/dsshim/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/dsshim/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/dsshim/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/dsshim/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/dsshim/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/dsshim/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/dsshim/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/dsshim/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/dsshim/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/dsshim/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/dsshim/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/dsshim/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/dsshim/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/dsshim/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/dsshim/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/dsshim/active-record-sinatra/releases{/id}","created_at":"2015-07-13T19:09:54Z","updated_at":"2015-07-13T19:09:54Z","pushed_at":"2015-07-13T18:29:43Z","git_url":"git://github.com/dsshim/active-record-sinatra.git","ssh_url":"git@github.com:dsshim/active-record-sinatra.git","clone_url":"https://github.com/dsshim/active-record-sinatra.git","svn_url":"https://github.com/dsshim/active-record-sinatra","homepage":null,"size":61,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":42185012,"name":"bithub","full_name":"dsshim/bithub","owner":{"login":"dsshim","id":11370842,"avatar_url":"https://avatars.githubusercontent.com/u/11370842?v=3","gravatar_id":"","url":"https://api.github.com/users/dsshim","html_url":"https://github.com/dsshim","followers_url":"https://api.github.com/users/dsshim/followers","following_url":"https://api.github.com/users/dsshim/following{/other_user}","gists_url":"https://api.github.com/users/dsshim/gists{/gist_id}","starred_url":"h[...]
