<header>
  <div class="main-image">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 id="page-header">
            BitHub
          </h1>
          <%= link_to "Login with Github", "/auth/github", class: "btn btn-lg btn-default btn-home" %>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="fullscreen-bg">
      <%= video_tag "bg.mp4", class: "fullscreen-bg__video", loop: true, autoplay: true, mute: true %>
</div>

<!-- <div class="container-fluid container-home">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <img src= "/images/coding.jpg" alt="Coding Image"/>

  </div>
  <div class="col-md-2"></div>
</div> -->
